/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS Variables */
:root {
    --header-height: 4.5rem;
    --max_width: 1200px;

    /* Colors */
    --first-color: #1c69ff;
    --second-color: #dbeaff;
    --first-color-darken: #1552cc;
    --second-color-darken: #b6d4ff;
    --text-dark: #101727;
    --text-gray: #404247;
    --gray: #b3b6bd;
    --white: #ffffff;

    /* font and typography */
    --body-font: "Inter", sans-serif;
    --biggest-font-size: 3.846rem;
    --h1-font-size: 2rem;
    --medium-font-size: 1.8rem;
    --normal-font-size: 1.086rem;
    /* --normal-font-size: 1.218rem; */
    --btn_font: 1rem;
    --small-font-size: 0.856rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    font-family: var(--body-font);
}

.section__container {
    max-width: var(--max_width);
    margin: auto;
    padding: 7rem 1rem 2rem;
}

/*=============== NAVBAR ===============*/

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav__header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
}

.nav__logo a {
    display: flex;
    align-items: center;
    font-size: var(--normal-font-size);
    font-weight: 700;
    color: var(--text-dark);
}

.nav__menu__btn {
    display: flex;
    background-color: var(--first-color);
    color: var(--white);
    padding: 8px 11px;
    border-radius: 7px;
}

.ri-menu-line {
    font-weight: lighter;
}

.nav__links {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--white);
    /* border-top: 0.5px solid var(--second-color-darken); */
    transition: .5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav__links.open {
    transform: translateY(0);
}

.nav__links.active {
    border-top: 0.5px solid var(--second-color-darken);
}

.nav__links a {
    color: var(--text-gray);
    transition: .3s;
}

.nav__links a:hover {
    color: var(--first-color);
}

.nav__btns {
    display: none;
}

@media (width > 678px) {
    nav {
        position: static;
        padding-block: 2rem 0;
        padding-inline: 1rem;
        /* max-height: var(--header-height); */
        max-width: var(--max_width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav__header {
        flex: 1;
        background-color: transparent;
        padding: 0;
    }

    .nav__logo a {
        font-size: 2rem;
        color: var(--text-gray);
    }

    .nav__menu__btn {
        display: none;
    }

    .nav__links {
        position: static;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }

    .nav__links a {
        padding-block: 5px;
        color: var(--text-gray);
        font-size: var(--small-font-size);
        font-weight: 600;
        border-bottom: 2px solid transparent;
    }

    .nav__links a:hover {
        border-color: var(--first-color);
    }

    .nav__btns {
        display: flex;
        flex: 1;
    }

    .nav__btns .btn {
        padding: 0.75rem 2rem;
        font-size: var(--small-font-size);
        font-weight: 600;
        white-space: nowrap;
        color: var(--text-gray);
        background-color: var(--white);
        border-radius: 5rem;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        transition: .3s;
        cursor: pointer;
    }

    .google__icon {
        display: block;
        width: 20px;
        height: 20px;
    }
}

/*=============== SECTION: HEADER ===============*/

.header__content > div,
.header__content > h1,
.header__content > p {
    margin-bottom: 1.2rem;
}

.header__content {
    text-align: center;
}

.header__badge {
    display: inline-block;
    background-color: var(--second-color);
    color: var(--first-color);
    font-size: var(--small-font-size);
    padding: 6px 12px;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.4s ease, transform 0.3s ease;
}

.header__badge:hover {
    background-color: var(--second-color-darken);
    transform: translateY(-3px);
}
.header__content h1 {
    padding: 0.5rem;
    font-size: var(--h1-font-size);
}

.header__content h1 span {
    color: var(--first-color);
    border-bottom: 2px solid var(--first-color);
}

.header__content p span {
    color: var(--text-dark);
    font-size: var(--normal-font-size);
    font-weight: 600;
}

.header__content p {
    color: var(--text-gray);
    font-size: var(--normal-font-size);
    line-height: 1.6rem;
    padding-inline: 1rem;
}

.header__btn {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.header__btn .btn {
    padding: 0.75rem 1.3rem;
    font-size: var(--normal-font-size);
    border-radius: 24px;
    font-size: var(--btn_font);
    font-weight: 600;
    margin-top: 12px;
}

.btn__explore {
    background-color: var(--first-color);
    color: var(--white);
    transition: background-color 0.4s ease, transform 0.2s ease;
}
.btn__demo {
    background-color: var(--white);
    color: var(--text-dark);
    box-shadow: 0.5px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.4s ease, transform 0.2s ease;
}

i {
    font-size: var(--normal-font-size);
}

.btn__demo:hover {
    background-color: #f5f5f5;
    transform: scale(1.05);
}

.btn__explore:hover {
    background-color: var(--first-color-darken);
    transform: scale(1.05);
}

/* @media (width > 678px) {

} */

/*=============== SECTION: DASHBOARD ===============*/

.dashboard__container {
    margin: auto;
    padding: 1rem;
}

.dashboard__content {
    background: linear-gradient(to bottom right, var(--white), var(--second-color));
    border-radius: 8px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
}

.dashboard__title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--normal-font-size);
    color: var(--text-black);
    margin-bottom: 1.5rem;
}

.dashboard__content span {
    background-color: var(--second-color);
    color: var(--first-color);
    padding: 5px;
    border-radius: 8px;
}

.ri-apps-line {
    font-size: 1.5rem;
}

.dashboard__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.dashboard__card {
    display: flex;
    background-color: var(--white);
    font-weight: 600;
    margin-bottom: 1.5rem;
    border-radius: 12px;
    border: 1px solid var(--second-color-darken);
    padding: 1rem;
}

.card__content {
    padding: 0.5rem;
}

.card__content h1 {
    color: var(--first-color);
    font-size: var(--h1-font-size);
}

.card__content p {
    color: var(--text-gray);
    font-size: var(--small-font-size);
}

/*=============== SECTION: WHY WE ===============*/

.benefit__container {
    max-width: var(--max_width);
    margin: 3rem 1rem;
    padding: 1rem;
}

.benefit__badge {
    display: inline-block;
    background-color: var(--second-color);
    color: var(--first-color);
    font-size: var(--small-font-size);
    padding: 6px 12px;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.4s ease, transform 0.3s ease;
    margin: 0 auto 1rem;
}

.benefit__badge:hover {
    background-color: var(--second-color-darken);
    transform: translateY(-3px);
}

.benefit__container h2 {
    color: var(--text-black);
    font-size: var(--medium-font-size);
}

.benefit__container p {
    font-size: var(--normal-font-size);
}

.benefit__content {
    display: grid;
    gap: 0.5rem;
    margin: 1rem auto;
}

.benefit__card{
    display: flex;
    background: linear-gradient(to bottom right, var(--white), var(--second-color));
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0.6rem;
}

.benefit__card .card__content {
    display: flex;
    flex-direction: column;
}

.card__content h1{
    font-size: var(--normal-font-size);
    color: var(--text-dark);
}

.card__content p {
    font-size: var(--small-font-size);
}

.ri-arrow-right-circle-fill {
    font-size: var(--h1-font-size);
}

/*=============== Footer ===============*/
