{% extends 'base.html' %}

{% block title %}Fylo - Home{% endblock %}

{% block content %}
<header class="header__main">
    <div class="header__bar">
        <div class="header__logo"><a href="">Fylo</a></div>
        <div class="header__profile" id="user-profile"></div>
    </div>

    <div class="header__menu" id="user-menu">
        <div class="menu__gmail">
            <p>manikandan20rb@gmail.com</p>
        </div>

        <div class="menu__item">
            <a href="">
                <i class="ri-global-line item__icon"></i>
                English
            </a>

            <a href="">
                <span>
                    <i class="ri-logout-box-r-line item__icon"></i>
                    Sign Out
                </span>
            </a>
        </div>
    </div>
</header>

<!-- <section class="section__container">
    <div class="gen__card">
        <h2>Project ideas</h1>
        <p>Find your next project effortlessly</p>

        <div class="card__wrapper">
            <textarea class="gen__input" placeholder="Describe your hint" rows="4"></textarea>
        </div>

        <div class="card__bottom">
            <button class="gen__btn">
                <i class="ri-ai-generate generate__icon"></i>
                Retry
            </button>

            <button class="download__btn">
                Download
                <i class="ri-file-download-line"></i>
            </button>
        </div>
    </div>
</section> -->

<section>
    <div class="section__container pill__group">
        <button class="pill__btn">Embedded architecture</button>
        <button class="pill__btn">Analog digital</button>
        <button class="pill__btn">Micro controller processor</button>
    </div>

    <div class="alertmsg" id="alertMsg"></div>

    <div class="gen__card">
        <input class="gen__input" type="text" id="userInput">
        <button class="btn" id="generateBtn">generate</button>
    </div>

    <div class="project__card">
        <div class="card">

        </div>

        <div class="card">

        </div>
    </div>

    <div>
        <h1>Recent</h1>

        <div class="project__card">
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>

    <div class="output" id="output">
        <div class="show">

        </div>
    </div>
</section>
{% endblock %}