{% extends 'base.html' %}

{% block title %}Fylo - The automated worklflows{% endblock %}

{% block content %}

<!-- Navbar -->
<nav>
    <div class="nav__header">
        <div class="nav__logo"><a href="">Fylo</a></div>
        <div class="nav__menu__btn" id="menu-btn">
            <span><i class="ri-menu-line"></i></span>
        </div>
    </div>
    <ul class="nav__links" id="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">How It Works</a></li>
        <li><a href="#">Docs</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <div class="nav__btns">
        <button class="btn">
            Sign In
        </button>
    </div>
</nav>

<!-- Header -->

<header class="section__container header__container">
    <div class="header__content">
        <div class="header__badge">Welcome to Fylo</div>
        <h1>Transform Routine Tasks into Seamless <span>Automated Workflows</span></h1>
        <p><span class="para__highlight">Tried of manual tasks and repetitive workflows?</span> Our platforms delivers ready-to-build project ideas focused on
            automation, innovation and real-world impact. Whether you're a beginner or a pro, discover ideas that save time, boost creativity,
            and bring Smart Innovation to life
        </p>
        <div class="header__btn">
            <button class="btn btn__explore">Explore Ideas</button>
            <button class="btn btn__demo">
                Watch Demo
                <i class="ri-play-circle-line"></i>
            </button>
        </div>
    </div>
</header>

<!--Dashobard -->
<section class="dashboard__container">
    <div class="dashboard__content">
        <div class="dashboard__title">
            <span><i class="ri-apps-line"></i></span>
            <h1>Dashboard</h1>
        </div>

        <div class="dashboard__grid">
            <div class="dashboard__card">
                <div class="card__icon"></div>
                <div class="card__content">
                    <h1>4</h1>
                    <p>Total Project Generated</p>
                </div>
            </div>
    
            <div class="dashboard__card">
                <div class="card__icon"></div>
                <div class="card__content">
                    <h1>4</h1>
                    <p>Student Beneited</p>
                </div>
            </div>
        </div>

        <p class="last-update"><span class="dot"></span> Last updated: 22/07/2025, 12:04:47</p>
    </div>
</section>

<!-- How It Works -->
<section class="features_container">

</section>
{% endblock %}